{% extends 'base.html.twig' %}

{% block title %}KaNaMi{% endblock %}

{% block body %}
    <h1 class="logotitre text-center">KaNaMi</h1>
    <div class="box">
        <div><input id="search-item" type="search"/></div>
        <div></div>

        <button class=""><a class="text-white text-decoration-none" href="{{ path('app_item_new') }}">Ajouter un
                jeu</a></button>
        <button class=""><a class="text-white text-decoration-none" href="{{ path('app_item_index') }}">Voir les
                jeux</a></button>
    </div>

    <div class="box">
        <button class=""><a class="" href="{{ path('app_category_new') }}">Ajouter une catégorie</a></button>
    </div>
    <div class="box">
        <button class=""><a class="" href="{{ path('app_category_index') }}">Voir les catégories</a></button>
    </div>


    <div class="box">
        <button class=""><a class="" href="{{ path('app_family_new') }}">Ajouter une famille</a></button>
    </div>
    <div class="box">
        <button class=""><a class="" href="{{ path('app_family_index') }}">voir les familles</a></button>
    </div>


    







    </div>


{% endblock %}
