{% extends 'base.html.twig' %}

{% block title %}KaNaMi{% endblock %}

{% block body %}
    {#    // supprimer plus tard le style min height 500px #}

    <div style="min-height: 500px" class="cont radius-bottom-right padding-0 bg-white">


        <div class="topnav">

            <a href="{{ path('app_settings') }}">Réglage général</a>
            <a href="{{ path('app_settings_family') }}">Famille</a>
            <a class="active" href="{{ path('app_settings_item') }}">Jeux</a>
            <a href="{{ path('app_settings_member') }}">Membres du staff</a>
        </div>


        <div class="flex-space-center-wrap">

            <div class="cont-medium radius margin-10">
                <h2>Vous souhaitez ajouter un jeu</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque error est impedit ipsum iure
                    laboriosam molestias nulla obcaecati perferendis praesentium provident quidem quis quod recusandae
                    sint ullam unde, vero voluptates!</p>
                <button class=""><a class="text-white text-decoration-none" href="{{ path('app_item_new') }}">Ajouter un
                        jeu</a></button>
            </div>
            <div class="cont-medium radius margin-10">
                <h2>Vous souhaitez créer une catégorie?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque error est impedit ipsum iure
                    laboriosam molestias nulla obcaecati perferendis praesentium provident quidem quis quod recusandae
                    sint ullam unde, vero voluptates!</p>
                <button class=""><a class="" href="{{ path('app_category_new') }}">Créer une catégorie</a></button>
            </div>
            <div class="cont-medium radius margin-10">
                <h2>Vous souhaitez consulter les jeux archivés?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque error est impedit ipsum iure
                    laboriosam molestias nulla obcaecati perferendis praesentium provident quidem quis quod recusandae
                    sint ullam unde, vero voluptates!</p>
                <button class=""><a class="" href="{{ path('app_item_list_deleted') }}">Voir les jeux supprimés</a>
                </button>
            </div>
            <div class="cont-medium radius margin-10">
                <h2>Vous souhaitez consulter ou modifier les catégories de votre ludo?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque error est impedit ipsum iure
                    laboriosam molestias nulla obcaecati perferendis praesentium provident quidem quis quod recusandae
                    sint ullam unde, vero voluptates!</p>
                <button class=""><a class="" href="{{ path('app_category_index') }}">Voir et modifier les catégories</a>
                </button>
            </div>


        </div>


    </div>

    </div>
{% endblock %}
