{% extends 'base.html.twig' %}

{% block title %}KaNaMi{% endblock %}

{% block body %}
    {#    // supprimer plus tard le style min height 500px #}


    {#    supprimer plus tard le style min height 500px #}
    <div style="min-height: 500px" class="cont radius-bottom-right padding-0 bg-white">
{#        {% for message in app.flashes('success') %}#}
{#            <div class="alert alert-success">#}
{#                {{ message }}#}
{#            </div>#}
{#        {% endfor %}#}

        <div class="topnav">

            <a href="{{ path('app_settings') }}">Réglage général</a>
            <a href="{{ path('app_settings_family') }}">Famille</a>
            <a class="active"  href="{{ path('app_settings_item') }}">Jeux</a>
            <a href="{{ path('app_settings_member') }}">Membres du staff</a>
        </div>


        <button class=""><a class="text-white text-decoration-none" href="{{ path('app_item_new') }}">Ajouter un
                jeu</a></button>
        <button class=""><a class="" href="{{ path('app_category_new') }}">Créer une catégorie</a></button>
        <button class=""><a class="" href="{{ path('app_item_list_deleted') }}">Voir les jeux supprimés</a></button>


    </div>

    </div>
{% endblock %}
