{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block body %}
    <div class="cont-hidden flex-wrap margin-top-0 padding-top-0">
        <div class="cont-title padding-top-0 margin-top-0"><h1>{{ category.categoryName }}
            </h1>


        </div>
        <div class="cont radius-bottom flex-space-center margin-top-0">
            <div class="categorie">
                {{ form_start(form) }}
            </div>
            <div class="cont-form">
                <span class="categorie">{{ form_row(form.categoryName, { 'attr' : { 'class': 'categorie' } }) }}</span>

            </div>
            <div class="cont-form">
                <span class="Modifier">{{ form_row(form.Modifier, { 'attr' : { 'class': 'categorie' } }) }}</span>
            </div>


            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
