{% extends 'base.html.twig' %}

{% block title %}
    Resolution de contentieux

{% endblock %}

{% block body %}


    
        <div class="cont">

            <h1>Résolution de contentieux pour la famille
                {% for relation in family.relationships %}
                    {% if relation.isOwner == 1 %}
                        {{ relation.member.lastName }}
                    {% endif %}
                {% endfor %}
            </h1>
            <p style="font-size: x-large">Jeu(x) à résoudre:</p>
             {% for loan in loanToResolve %}
                    <div class="cont-result"> <h4 class="text-center">{{ loan.item }}</h4>

                        <button ><a href="{{ path('app_resolve_confirmation', {'idItem': loan.item.id , 'idFamily': loan.family.id} ) }}">La famille a retrouvé ou remplacé la pièce manquante</a> </button>
                        <button ><a href="{{ path('app_pay_to_resolve_confirmation', {'idItem': loan.item.id , 'idFamily': loan.family.id} ) }}">La famille va payer le jeu</a> </button>
                        <button ><a href="{{ path('app_resolve_confirmation', {'idItem': loan.item.id , 'idFamily': loan.family.id} ) }}">La ludothèque annule le contentieux avec la famille</a> </button>

                    </div>
                 <div>
                     <p>Montant du jeu à régler: {{ item.price }}</p>
                 </div>

            {% endfor %}







        </div>








{% endblock %}
