{% extends 'base.html.twig' %}

{% block title %}
    Famille

{% endblock %}

{% block body %}
    <h1>Famille {% for relationship in family.relationships %}

            {% if relationship.isOwner == 1 %}
                {{ relationship.member.lastName }}
            {% endif %}

        {% endfor %}


    </h1>
    <p>Tout les membres de la famille:</p>
    {% for relationship in family.relationships %}
        <p>
            Prénom: {{ relationship.member.firstName }} Nom: {{ relationship.member.lastName }} Date de naissance
            : {{ relationship.member.birthday.format('d-m-Y') }}
            <br>
        </p>
    {% endfor %}
    <div class="box">
        <button class=""><a class="" href="{{ path('app_member_new_in_existing', {'idFamily': family.id}) }}">Ajouter un adhérant</a></button>
    </div>




    <table class="table">
        <tbody>


        <tr>
            <th>nom de famille</th>
            {% for relationship in family.relationships %}
                {% if relationship.isOwner == 1 %}
                    <td>{{ relationship.member.lastName }}</td>
                {% endif %}


            {% endfor %}


        </tr>

        <tr>
            <th>RegisterDate</th>
            <td>{{ family.registerDate ? family.registerDate|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>MaxLoanSimultaneous</th>
            <td>{{ family.maxLoanSimultaneous }}</td>
        </tr>
        <tr>
            <th>DelayWarning</th>
            <td>{{ family.delayWarning ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>DelayWarningNb</th>
            <td>{{ family.delayWarningNb }}</td>
        </tr>
        <tr>
            <th>IncompleteReturn</th>
            <td>{{ family.incompleteReturn ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>IncompleteReturnNb</th>
            <td>{{ family.incompleteReturnNb }}</td>
        </tr>
        <tr>
            <th>Blocked</th>
            <td>{{ family.blocked ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>PaymentOk</th>
            <td>{{ family.paymentOk ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>TokenAvailable</th>
            <td>{{ family.tokenAvailable }}</td>
        </tr>
        <tr>
            <th>Deposit</th>
            <td>{{ family.deposit ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>DepositInformation</th>
            <td>{{ family.depositInformation }}</td>
        </tr>
        </tbody>
    </table>



    <a href="{{ path('app_family_edit', {'id': family.id}) }}">edit</a>




{% endblock %}
