{% extends 'base.html.twig' %}

{% block title %}
    Famille

{% endblock %}

{% block body %}
<div class="cont-hidden flex-wrap">

    <div class="cont-title padding-top-0 margin-top-0"><h1>Famille {% for relationship in family.relationships %}

                {% if relationship.isOwner == 1 %}
                    <span style="color: #25963F">{{ relationship.member.lastName|upper }}</span>
                {% endif %}
            {% endfor %}
        </h1>

    </div>

    <div class="cont radius-bottom flex-wrap padding-top-0 margin-top-0">


        <div style="text-align: start" class="cont-medium radius padding-top-0"><h3
                    class="padding-top-0 margin-top-0 margin-bottom-0 margin-5" style="text-align: center">
                Coordonnées</h3>
            Numéro d'identification: <span class="bold"> {{ family.id }}</span> <br>
            Date d'enregistrement de la famille: <span class="bold">{{ family.registerDate|date('d-m-Y') }} <br></span>
            Titulaire: {% for relationship in family.relationships %}
                {% if relationship.isOwner == 1 %}
                    <span class="bold">{{ relationship.member.lastName|upper }}
                        {{ relationship.member.firstName|capitalize }} <br></span>
                    Adresse: {{ relationship.member.address }} <br>
                    <span class="bold">{{ relationship.member.zipCode }} <br>
                    {{ relationship.member.city }} <br>
                    {{ relationship.member.otherAddressDetail }} <br> <br></span>
                    Contact: <br>
                    Email: <span class="bold">{{ relationship.member.email }} <br></span>
                    Numéro de télephone: <span class="bold">{{ relationship.member.phone }}</span>

                {% endif %}

            {% endfor %}
        </div>
        <div class="cont-medium radius padding-top-0"><h3
                    class="padding-top-0 margin-top-0 margin-bottom-0 margin-5">
                Informations</h3>


            Possibilité de prêt restante: <span
                    class="bold"> {% if family.maxLoanSimultaneous %}  {{ family.maxLoanSimultaneous }} {% else %} Aucun {% endif %} </span><br>
            Historique des retard depuis l'ouverture du
            compte: <span
                    class="bold"> {% if family.delayWarningNb %}  {{ family.delayWarningNb }} {% else %} Aucun {% endif %} </span><br>
            Historique des retour incomplet depuis l'ouverture du compte: <span
                    class="bold"> {% if family.incompleteReturnNb %}  {{ family.incompleteReturnNb }} {% else %} Aucun {% endif %} </span><br>

            {% if family.incompleteReturn != 0 %}
                <div class="box margin-5">
                    <button STYLE="color: #B0413E" class=""><a class=""
                                                               href="{{ path('app_family_resolve', {'idFamily': family.id}) }}">Régler
                            un
                            jeu incomplet</a></button>
                </div>
            {% endif %}
            <br>
            <div class="cont-result flex-space-center">
                <div class="margin-5">Paiement à jour: <br>
                    {% if family.paymentOK %} <img style="width: 30px" src="/img/available.svg" alt="OK">
                    {% else %} <img style="width: 30px" src="/img/unavailable.svg" alt="NON">
                    {% endif %}</div>
                <div class="margin-5">Retour à jour : <br>
                    {% if family.incompleteReturn == 0 %} <img style="width: 30px" src="/img/available.svg"
                                                               alt="OK">
                    {% else %} <img style="width: 30px" src="/img/unavailable.svg" alt="NON">
                    {% endif %}</div>

            </div>


        </div>

        <div class="cont-medium-height-locked radius scroller padding-top-0"><h3
                    class="padding-top-0 margin-top-0 margin-bottom-0 margin-5">
                Historique des
                prêts</h3>


            {% for loan in family.loan %}

                {% if loan.effectReturnDateTime %}
                    <div class="cont-result bg-green-light">
                        Jeu: {{ loan.item }} <br>
                        Date de début: {{ loan.startDateTime|date('d-m-Y') }}
                        {% if loan.effectReturnDateTime %}
                            retourné le: {{ loan.effectReturnDateTime|date('d-m-Y') }} <br>
                        {% else %}
                            Retour prévu le: {{ loan.datePreviewBack|date('d-m-Y') }}  <br>
                        {% endif %}
                        {% if 'now' > loan.datePreviewBack %}
                            En retard
                        {% endif %}
                        {% if loan.completenessReturn == 0 %}
                            <span class="color-red">Retour incomplet</span>
                        {% else %}
                            <span class="color-green"> Retour complet</span>
                        {% endif %}

                    </div>

                {% else %}
                    <div class="cont-result bg-green">
                        Jeu: {{ loan.item }} <br>
                        Date de début: {{ loan.startDateTime|date('d-m-Y') }}
                        {% if loan.effectReturnDateTime %}
                            retourné le: {{ loan.effectReturnDateTime|date('d-m-Y') }} <br>
                        {% else %}
                            Retour prévu le: {{ loan.datePreviewBack|date('d-m-Y') }}  <br>
                        {% endif %}
                        {% if 'now' < loan.datePreviewBack %}
                            pas de retard (a supprimé ajouté pour test)
                        {% else %} En retard
                        {% endif %}


                    </div>
                {% endif %}




            {% endfor %}


        </div>
        <div class="cont-medium radius  "><h3 class="padding-top-0 margin-top-0 margin-bottom-0 margin-5">Liste des
                membres</h3>
            <div class="box margin-5">
                <button class="margin-0"><a class=""
                                            href="{{ path('app_member_new_in_existing', {'idFamily': family.id, 'family': family}) }}">
                        Ajouter
                        un adhérant </a></button>
            </div>
            {% for relationship in family.relationships %}
                <div class="cont-result">
                    {{ relationship.member.firstName }}            {{ relationship.member.lastName }}
                    {{ relationship.member.birthday|date('d-m-Y') }} <a
                            href="{{ path('app_member_delete', {'id': relationship.member.id }) }}"> Supprimer le membre </a>
                </div>


            {% endfor %}


        </div>

    </div>

    {% endblock %}
