{% extends 'base.html.twig' %}

{% block title %}Loan{% endblock %}

{% block body %}

    <h1>Qui va louer le jeu {{ item.name }}</h1>

    {% for result in resultsFamily %}
    <ul>
        <li>{{ result.lastname }} {{ result.firstname }}
            <a href="{{  path('app_loan_new', {'idItem': item.id, 'idMember': result.id}) }}">Choisir ce membre</a>
        </li>


        
        
    </ul>
    {% endfor %}



    <a href="{{ path('app_item_show',{'id': item.id}) }}">Retour</a>

{% endblock %}
