{% extends 'base.html.twig' %}

{% block title %}Nouveau paiement de cotisation{% endblock %}

{% block body %}
    <div class="cont-hidden ">
        <div class="cont-title"><h1>Etape de paiement 1: Payer la cotisation</h1>
            <h5 class="margin-5" style="color: #79747E; font-size: 16px"><span class="color-black">A suivre:</span>
                Etape de paiement 2: dépot de garantie</h5>
        </div>
        <div class="cont margin-0 padding-0">

            <div class="cont-medium-hidden">
                <p class="text-center font-size-15">Pour pouvoir effectuer un emprûnt ou participer à une cession la
                    cotisation doit
                    être payée. Néanmoins,
                    vous
                    pouvez finir l’enregistrement de la famille sans valider cette étape, et un délai de 15 jours sera
                    accorder
                    pour le paiement.
                    <br> <strong>Pour ça, choisissez "Payez plus tard" le mode de paiement</strong></p>
            </div>


            <div class="cont-medium text-center bg-green-light radius">
                {{ form_start(form, { 'attr' : { 'class': '' } }) }}
                <h2>Cotisation</h2>
                <div class="paymentAmount">

                    <p class="font-size-15 bold">Montant à payer pour la cotisation: 20€</p>
                </div>
                <div class="paymentKind">

                    {{ form_row(form.paymentKind, { 'attr' : { 'class': 'paymentKind' } }) }}
                </div>

                <div class="paymentComment">

                    {{ form_row(form.paymentComment, { 'attr' : { 'class': 'paymentComment' } }) }}
                </div>


            </div>

            <div class="cont-hidden-ajust flex-right">

                <div><span class="submit-form">{{ form_row(form.Confirmer) }}</span></div>


            </div>

            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
