{% extends 'base.html.twig' %}

{% block title %}Nouveau paiement de cotisation{% endblock %}

{% block body %}


    <div class="cont-hidden ">
        <div class="cont-title"><h1>Payer une cotisation</h1>
        </div>
        <div class="cont margin-0 padding-0">

            <div class="cont-medium text-center bg-green-light radius">
                <div class="paymentAmount">

                    <p class="font-size-15 bold">Montant à payer pour la cotisation: 20€</p>
                </div>
                {{ form_start(form) }}
                <div class="paymentKind">

                    {{ form_row(form.paymentKind, { 'attr' : { 'class': 'paymentKind' } }) }}
                </div>

                <div class="paymentComment">

                    {{ form_row(form.paymentComment, { 'attr' : { 'class': 'paymentComment' } }) }}
                </div>

                <div class="submit-form">

                    {{ form_row(form.Confirmer, { 'attr' : { 'class': 'Confirmer' } }) }}
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>
{% endblock %}


