{% extends 'base.html.twig' %}

{% block title %}Ajout d'article{% endblock %}

{% block body %}

    <div class="cont-hidden ">


        <div class="cont-title"><h1>Formulaire d'ajout d'un jeu dans la base de données de la ludothèque</h1></div>
        <div class="cont margin-0 padding-0">


            {{ form_start(form, { 'attr' : { 'class': 'cont-form' } }) }}
            <div class="cont-hidden-ajust flex-space-center text-center">
                <div class="name">
                    {{ form_row(form.name, { 'attr' : { 'class': 'nom' } }) }}
                </div>
            </div>


            <div class="cont-form">
                <span class="completeness">
                    {{ form_row(form.completeness) }}
                </span>
                <span class="available">
                    {{ form_row(form.available) }}
                </span>
            </div>

            <div class="cont-form">
                <span class="itemCondition"> {{ form_row(form.itemCondition) }} </span>
                <span class="lang">{{ form_row(form.lang) }}</span>

            </div>

            <div class="cont-form">
                <span class="ref">{{ form_row(form.ref) }}</span>


            </div>

            <div class="cont-form">
                <div class="publisherGameDuration">
                    {{ form_row(form.publisherGameDuration, { 'attr' : { 'class': '' } }) }}
                </div>
                <div class="ourGameDuration">
                    {{ form_row(form.ourGameDuration, { 'attr' : { 'class': '' } }) }}
                </div>
            </div>

            <div class="cont-form">
                <div class="playerNbMin">
                    {{ form_row(form.playerNbMin, { 'attr' : { 'class': 'input-nombre' } }) }}
                </div>
                <div class="playerNbMax">
                    {{ form_row(form.playerNbMax, { 'attr' : { 'class': 'input-nombre' } }) }}
                </div>
                <div class="ageMin">
                    {{ form_row(form.ageMin, { 'attr' : { 'class': 'input-nombre' } }) }}
                </div>
            </div>

            <div class="cont-form">

                <div class="author">
                    {{ form_row(form.author, { 'attr' : { 'class': '' } }) }}
                </div>

            </div>
            <div class="cont-form">
                <div class="illustrator">
                    {{ form_row(form.illustrator, { 'attr' : { 'class': '' } }) }}
                </div>
                <div class="publisher">
                    {{ form_row(form.publisher, { 'attr' : { 'class': '' } }) }}
                </div>
            </div>

            <div class="cont-form">
                <span class="gameOrigin">{{ form_row(form.gameOrigin) }} </span>
                <span class="gamePrice">{{ form_row(form.gamePrice, { 'attr' : { 'class': 'input-nombre' } }) }}</span>

            </div>
            <div class="cont-form">
                <span class="copyNumber"> {{ form_row(form.copyNumber, { 'attr' : { 'class': 'input-nombre' } }) }}</span>
            </div>


            <div class="cont-hidden-ajust flex-space-around">
                <div>* Champs requis.</div>
                <div><span class="submit-form">{{ form_row(form.Suivant) }}</span></div>


            </div>

            {{ form_end(form) }}


        </div>
    </div>
{% endblock %}
