{% extends 'base.html.twig' %}

{% block title %}
    Resolution de contentieux

{% endblock %}

{% block body %}



    <div class="cont">

        <h1>Résolution de contentieux pour la famille
            {% for relation in family.relationships %}
                {% if relation.isOwner == 1 %}
                    {{ relation.member.lastName }}
                {% endif %}
            {% endfor %}
        </h1>

        <p class="text-center font-size-20"> Prix du
            jeu: {% if  item.gamePrice > 0 %} {{ item.gamePrice }} {% else %} non défini {% endif %}
            <br> Confirmer que la famille
            {% for relation in family.relationships %}
                {% if relation.isOwner == 1 %}
                    {{ relation.member.lastName }}
                {% endif %}
            {% endfor %}
            a résolu le contentieux concernant le jeu
            {{ item }}

        </p>

        {{ form_start(form, { 'attr' : { 'class': 'cont-form' } }) }}
        <div class="cont-form">
            <div class="completenessReturn">
                <div>
                    {{ form_row(form.completenessReturn, { 'attr' : { 'class': 'completenessReturn', 'required': true } }) }}
                </div>

            </div>
        </div>
        <div class="cont-form">


            <div class="returnComment">
                <div>
                    {{ form_row(form.returnComment) }}
                </div>

            </div>
        </div>
        <div class="flex-justify-center">
            <div> {{ include('loan/_form.html.twig') }}</div>
        </div>
        {{ form_end(form) }}


    </div>








{% endblock %}
