{% extends 'base.html.twig' %}

{% block title %}
    Resolution de contentieux

{% endblock %}

{% block body %}



    <div class="cont">

        <h1>Résolution de contentieux pour la famille
            {% for relation in family.relationships %}
                {% if relation.isOwner == 1 %}
                    {{ relation.member.lastName }}
                {% endif %}
            {% endfor %}
        </h1>

        <p class="text-center font-size-20"> Prix du
            jeu: {% if  item.gamePrice > 0 %} {{ item.gamePrice }} {% else %} non défini {% endif %}
            <br> Confirmer que la famille
            {% for relation in family.relationships %}
                {% if relation.isOwner == 1 %}
                    {{ relation.member.lastName }}
                {% endif %}
            {% endfor %}
            a résolu le contentieux concernant le jeu
            {{ item }}

        </p>
        <p>    {{ include('loan/_form.html.twig') }}</p>

    </div>








{% endblock %}
