{% extends 'base.html.twig' %}

{% block title %}Jeu{% endblock %}

{% block body %}
    <div class="cont-hidden flex-wrap">
        <div class="cont-title"><h1>{{ item.name }}
            </h1>
        </div>
        <div class="cont radius-bottom flex-wrap">


            <div style="text-align: start" class="cont-medium radius"><h3 style="text-align: center">Informations
                    interne</h3>
                <p style="text-align: start">
                    Réf produit: <span class="bold">{{ item.id }}</span><br>
                    Réf interne: {% if item.ref %} <span class="bold">{{ item.ref }}</span>{% else %} <span
                        class="bold"> Non renseigné </span> {% endif %}<br>
                    Ajouté le:<span class="bold">  {{ item.registerDateTime|date('d-m-Y') }} </span> <br>
                    Etat
                    d'usure: {% if item.itemCondition %} <span class="bold"> {{ item.itemCondition }} </span> {% else %}
                        <span class="bold">  Non renseigné </span> {% endif %}
                    <br>
                    Complet: {% if item.completeness == 0 %} <span class="bold"> OUI </span> {% else %} <span
                        class="bold"> NON </span> {% endif %}<br>
                    Valeur: {% if item.gamePrice %} <span class="bold"> {{ item.gamePrice }} </span> {% else %} <span
                        class="bold"> Non renseigné </span> {% endif %}<br>


                </p>

            </div>
            <div class="cont-medium radius"><h3>Informations générales</h3>
                <p style="text-align: start">
                    Langue: {% if item.lang %} <span class="bold"> {{ item.lang }} </span>{% else %} <span class="bold"> Non renseigné </span> {% endif %}
                    <br>
                    Editeur: {% if item.publisher %} <span class="bold"> {{ item.publisher }} </span> <br>  {% else %}
                    <span
                            class="bold"> Non renseigné  </span> {% endif %}<br>
                    Auteur: {% if item.author %} <span class="bold"> {{ item.author }} </span> <br>  {% else %} <span
                        class="bold"> Non renseigné </span> {% endif %}<br>
                    Illustrateur: {% if item.illustrator %}  <span class="bold"> {{ item.illustrator }} </span>
                        <br>  {% else %} <span class="bold"> Non renseigné </span> {% endif %} <br>
                    Age minimum conseillé par l'éditeur: {% if item.PlayerNbMax %} <span
                            class="bold"> {{ item.playerNbMax }} </span>
                        <br>  {% else %} <span class="bold"> Non renseigné </span> {% endif %} <br>
                    Nombre de
                    joueurs: {% if item.playerNbMin and itemPlayerMax %} de <span
                            class="bold"> {{ item.playerNbMin }} </span> à <span
                            class="bold"> {{ item.playerNbMax }} </span> {% else %} <span
                            class="bold"> Non  </span> {% endif %}
                </p>


            </div>

            <div class="cont-medium radius"><h3>Historique des prêts</h3>
                {% for loan in item.loans %}

                    {% for relation in loan.family.relationships %}
                        {% if relation.isOwner == 1 %}
                            <div class="padding-5 margin-5 border-1 radius-top-left" style="text-align: start ; background-color: #95D6A4">

                            Famille <span
                                style="font-weight: bold">{{ relation.member.lastName|upper }} </span> {% endif %}
                    {% endfor %}

                    Prété le: {{ loan.startDateTime|date('d-m-Y') }} | <br>
                    {% if loan.effectReturnDateTime %}  rendu le: <span
                            style="color: #25963F">{{ loan.effectReturnDateTime|date('d-m-Y') }}</span> {% else %}retour prévu le:
                        <span style="color: #B0413E">{{ loan.datePreviewBack }}</span> {% endif %} |
                    rendu complet: {% if loan.completenessReturn == 1 %}  <span
                        style="color: #25963F">OUI</span> {% else %}
                    <span style="color: #B0413E">NON</span> {% endif %}
                    {% if loan.returnComment != null %} {{ loan.returnComment }} {% else %} Aucun commentaire
                    {% endif %}
                    </div>

                {% endfor %}


            </div>

            <div class="cont-medium radius text-center"><h3>Prêter</h3>
                {% if item.available == 1 %}
                    <div class="">
                        <h2>Prêter le jeu à une famille?</h2>

                        <form class="text-center" style="width: 300px"
                              action="{{ path('app_loan_show', {'idItem': item.id }) }}"
                              method="post"><input
                                    name="word"
                                    id="loansearchfamily"
                                    type="search"/>
                            <button style="width: 100px  ; font-size: 12px">Rechercher une famille <span
                                        class="material-symbols-outlined">
     family_restroom
     </span>
                            </button>
                        </form>

                    </div>

                {% endif %}
                {% if item.available == 0 and item.completeness == 1 %}

                    <div class="box2">
                        <h2>Le jeu a été prété, effectuer un retour?</h2>
                        <form style="width: 300px" action="{{ path('app_loan_return', {'idItem': item.id }) }}"
                              method="post">
                            <button
                                    style="width: 100px  ; font-size: 12px">Effectuer le retour de l'article
                            </button>
                        </form>
                    </div>
                {% endif %}
                {% if item.completeness == 0 %}
                    <div class="box2">
                        <h2>Le jeu est incomplet</h2>
                    </div>
                {% endif %}

            </div>
        </div>

    </div>








    {#    <div>{{ family.id }}</div> #}
    {#    <h1>{{ item.name }}</h1> #}


    {#    <table class="table"> #}
    {#        <tbody> #}
    {#        <tr> #}
    {#            <th>Id</th> #}
    {#            <td>{{ item.id }}</td> #}
    {#        </tr> #}

    {#        <tr> #}
    {#            <th>Categorie</th> #}
    {#            {% for category in item.categories %} #}
    {#                <td>{{ category }}</td> #}
    {#            {% else %} #}
    {#                <td>sans categorie</td> #}
    {#            {% endfor %} #}

    {#        <tr> #}
    {#            <th>Name</th> #}
    {#            <td>{{ item.name }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>Ref</th> #}
    {#            <td>{{ item.ref }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>Lang</th> #}
    {#            <td>{{ item.lang }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>PublisherGameDuration</th> #}
    {#            <td>{{ item.publisherGameDuration }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>OurGameDuration</th> #}
    {#            <td>{{ item.ourGameDuration }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>PlayerNbMin</th> #}
    {#            <td>{{ item.playerNbMin }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>PlayerNbMax</th> #}
    {#            <td>{{ item.playerNbMax }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>AgeMin</th> #}
    {#            <td>{{ item.ageMin }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>Author</th> #}
    {#            <td>{{ item.author }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>Illustrator</th> #}
    {#            <td>{{ item.illustrator }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>Publisher</th> #}
    {#            <td>{{ item.publisher }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>ItemCondition</th> #}
    {#            <td>{{ item.itemCondition }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>Completeness</th> #}
    {#            <td>{{ item.completeness ? 'Yes' : 'No' }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>Available</th> #}
    {#            <td>{{ item.available ? 'Yes' : 'No' }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>Archive</th> #}
    {#            <td>{{ item.archive ? 'Yes' : 'No' }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>UpdatePseudoUser</th> #}
    {#            <td>{{ item.updatePseudoUser }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>UpdateDateTime</th> #}
    {#            <td>{{ item.UpdateDateTime ? item.UpdateDateTime|date('Y-m-d H:i:s') : '' }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>ArchivePseudoUser</th> #}
    {#            <td>{{ item.archivePseudoUser }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>ArchiveDateTime</th> #}
    {#            <td>{{ item.archiveDateTime ? item.archiveDateTime|date('Y-m-d H:i:s') : '' }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>ArchiveCause</th> #}
    {#            <td>{{ item.archiveCause }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>ArchiveGameBecome</th> #}
    {#            <td>{{ item.archiveGameBecome }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>MemberItemRatingTotal</th> #}
    {#            <td>{{ item.memberItemRatingTotal }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>MemberItemRatingNb</th> #}
    {#            <td>{{ item.memberItemRatingNb }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>GamePrice</th> #}
    {#            <td>{{ item.gamePrice }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>GameOrigin</th> #}
    {#            <td>{{ item.gameOrigin }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>UserMadeEntry</th> #}
    {#            <td>{{ item.userMadeEntry }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>CopyNumber</th> #}
    {#            <td>{{ item.copyNumber }}</td> #}
    {#        </tr> #}
    {#        <tr> #}
    {#            <th>RegisterDateTime</th> #}
    {#            <td>{{ item.registerDateTime ? item.registerDateTime|date('Y-m-d H:i:s') : '' }}</td> #}
    {#        </tr> #}
    {#        </tbody> #}
    {#    </table> #}

    {#    <a href="{{ path('app_item_index') }}">back to list</a> #}

    {#    <a href="{{ path('app_item_edit', {'id': item.id}) }}">edit</a> #}

    {#    {{ include('item/_delete_form.html.twig') }} #}
{% endblock %}
